.title_card_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title_card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  margin: 18px 10px 30px 10px;
  width: 550px;
  box-shadow: 0 0 10px red;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
}

.title_logo {
  width: 15%;
}

@media only screen and (max-width: 600px) {
  .title_card {
    font-size: 16px;
    width: 100%;
  }

  .title_logo {
    width: 22%;
  }
}
